/*
CSS variables in Divi options

--noir: #100808;
var(--noir);

*/
#cmplz-manage-consent {
  display: none !important;
}
/* ⋆ ✢ ✣ ✤ ✥ ✦ ✧ ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ ★ ✢ ✣ ✤ ✥ ✦ ✧  BASICS  ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ ★ ✢ ✣ ✤ ✥ ✦ ✧ ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ */
#footer-bottom>.container,
#main-footer>.container {
	width: 97%;
	max-width: 97%
}

#main-header>.container {
	width: 97%;
	max-width: 97%
}

body.full-header #page-container {
	padding-top: 0 !important;
}

body.full-header #main-header:not(.et-fixed-header)

/*body.full-header #main-header:not(.et-fixed-header) .sub-menu*/
	{
	background: transparent !important;
	box-shadow: none !important
}

body.full-header #main-header:not(.et-fixed-header) a {
	color: white !important;
}

body.full-header #main-header:not(.et-fixed-header) #logo {
	filter: invert(1);
}

#main-content {
	overflow: hidden;
}

#page-container {
	margin-top: 0 !important;
}

#legal-page h1 {
	font-size: 2.2em;
	text-transform: uppercase;
}

#legal-page h2 {
	padding-top: .85em
}

#legal-page h2,
#legal-page h3 {
	padding-bottom: .75em;
	text-transform: uppercase;
}

/* ⋆ ✢ ✣ ✤ ✥ ✦ ✧ ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ ★ ✢ ✣ ✤ ✥ ✦ ✧  SLICK  ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ ★ ✢ ✣ ✤ ✥ ✦ ✧ ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ */
.slick-prev,
.slick-next {
	top: 28%;
}

.slick-prev {
	left: -38px;
}

.slick-next {
	right: -38px;
}

.slick-prev:before,
.slick-next:before {
	font-family: 'monospace';
}

.slick-prev:before {
	content: "‹";
}

[dir="rtl"] .slick-prev:before {
	content: "›";
}

[dir="rtl"] .slick-next {
	left: -10px;
	top: 70px;
	right: auto;
}

.slick-next:before {
	content: "›";
}

[dir="rtl"] .slick-next:before {
	content: "‹";
}

.slick-dots li button:before {
	font-size: 50px !important;
}

.slick-dots {
	bottom: -2em;
}

/* ⋆ ✢ ✣ ✤ ✥ ✦ ✧ ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ ★ ✢ ✣ ✤ ✥ ✦ ✧  LENIS   ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ ★ ✢ ✣ ✤ ✥ ✦ ✧ ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ */
html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

/* ⋆ ✢ ✣ ✤ ✥ ✦ ✧ ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ ★ ✢ ✣ ✤ ✥ ✦ ✧  MEDIAS QUERIES  ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ ★ ✢ ✣ ✤ ✥ ✦ ✧ ✩ ✪ ✫ ✬ ✭ ✮ ✯ ✰ */
@media all and (min-width: 1405px) {}

@media all and (max-width: 980px) {}

@media all and (max-width: 767px) {}

@media all and (max-width: 479px) {}
